:root {
  --body-background-color: #282a36;
  --body-text-color: #f8f8f2;
  --card-background-color: #44475a;
  --nav-background-color: #383a59;
  --nav-border-bottom-color: #383a59;
  --nav-current-border-bottom-color: #6272a4;
  --card-border-color: #44475a;
  --down-border-left-color: #ff5555;
  --down-background-color: #ff5555;
  --degraded-border-left-color: #f1fa8c;
  --up-border-left-color: #50fa7b;
  --tag-color: #6272a4;
  --tag-up-background-color: #50fa7b;
  --tag-down-background-color: #ff5555;
  --tag-degraded-background-color: #f1fa8c;
  --change-background-color: #f1fa8c;
  --error-button-border-color: #BD93F9;
  --error-button-background-color: #D6ACFF;
  --error-button-color: #ffffff;
  --submit-button-border-color: #BD93F9;
  --submit-button-background-color: #D6ACFF;
  --submit-button-color: #ffffff;
  --graph-opacity: 1;
  --graph-filter: none;
}
